<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>AngularJS Reactive-like Form</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <style>
    .error { color: red; }
  </style>
</head>
<body ng-controller="FormController">

  <h2>Registration Form</h2>

  <form name="userForm" novalidate ng-submit="submitForm(userForm.$valid)">
    <label>Name:</label>
    <input type="text" name="name" ng-model="user.name" required>
    <span class="error" ng-show="userForm.name.$touched && userForm.name.$invalid">
      Name is required.
    </span><br><br>

    <label>Email:</label>
    <input type="email" name="email" ng-model="user.email" required>
    <span class="error" ng-show="userForm.email.$touched && userForm.email.$invalid">
      Valid email is required.
    </span><br><br>

    <label>Age:</label>
    <input type="number" name="age" ng-model="user.age" min="1" required>
    <span class="error" ng-show="userForm.age.$touched && userForm.age.$invalid">
      Age must be a positive number.
    </span><br><br>

    <button type="submit">Submit</button>
  </form>

  <p ng-if="submitted">Form submitted successfully!</p>

  <script>
    angular.module('myApp', [])
      .controller('FormController', function($scope) {
        $scope.user = {};
        $scope.submitted = false;

        $scope.submitForm = function(isValid) {
          if (isValid) {
            $scope.submitted = true;
          } else {
            $scope.submitted = false;
          }
        };
      });
  </script>

</body>
</html>
